<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MixRech</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/font-flaticon@1.0.0/css/font-flaticon.css">
        <link rel="stylesheet" href="{% static 'search/css/static.css' %}">
        <link rel="icon" href="{% static 'main/png/favicon.ico' %}">
    </head>
    <body>
        <div class="header">
            <div class="header-content">
                <h2><a href="{% url 'home' %}" style="text-decoration: none;">MixRech</a></h2>
                <form method="get" action="#" class="search-form">
                    <div class="search-input-wrapper">
                        <input type="text" name="query" value="{{ query }}" placeholder="Введите поисковый запрос или URL" aria-label="Поиск">
                    </div>
                </form>
                <div class="category-buttons">
                    <a href="{% url 'search' %}?query={{ query }}" class="category-btn {% if request.path == '/search' %}active{% endif %}">
                        Все
                    </a>
                    <a href="{% url 'images' %}?query={{ query }}" class="category-btn {% if request.path == '/images' %}active{% endif %}">
                        Картинки
                    </a>
                    <a href="{% url 'videos' %}?query={{ query }}" class="category-btn {% if request.path == '/videos' %}active{% endif %}">
                        Видео
                    </a>
                    <a href="{% url 'news' %}?query={{ query }}" class="category-btn {% if request.path == '/news' %}active{% endif %}">
                        Новости
                    </a>
                </div>
            </div>
        </div>
        <ul>
            {% if videos %}
            <div>
                {% for video in videos %}
                    <div class="result-card">
                        <div class="video-title">
                            <a href="{{ video.url }}" target="_blank">
                                {{ video.title }}
                                {% if video.thumbnail %}
                                <img src="{{ video.thumbnail }}" alt="Thumbnail" class="card-img-top" style="max-width: 100%; height: auto;">
                                {% endif %}
                            </a>
                        </div>

                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p>Видео не найдены.</p>
            {% endif %}
        </ul>
        <div class="pagination">
                {% if page > 1 %}
                    <a href="?query={{ query }}&page={{ page|add:-1 }}">
                        <svg class="icon" viewBox="0 0 24 24" style="width: 18px; height: 18px;">
                            <path d="M19 12H5M12 19l-7-7 7-7" stroke="currentColor" stroke-width="2"/>
                        </svg>
                        Предыдущая
                    </a>
                    {% endif %}

                    <span class="page-info">Страница {{ page }}</span>

                    <a href="?query={{ query }}&page={{ page|add:1 }}">
                        Следующая
                        <svg class="icon" viewBox="0 0 24 24" style="width: 18px; height: 18px;">
                            <path d="M5 12h14M12 5l7 7-7 7" stroke="currentColor" stroke-width="2"/>
                        </svg>
                    </a>
            </div>
    </body>
    </html>
