<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <title>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ соглашение</title>
   <style>
      p {
         text-align: center;
      }
   </style>
</head>
<body>
<p>г. Москва</p>
<p>«26» февраля 2026 г.</p>
<p>Настоящее Пользовательское соглашение (далее — Соглашение) регулирует отношения между разработчиками и владельцами сервиса «MixChat» — физическими лицами:</p>
<p>- Рожковым Михаилом Андреевичем,</p>
<p>- Моховым Владимиром Фёдоровичем,</p>
<p>далее совместно именуемые «Правообладатели», и любым лицом, использующим сервис «MixChat» (далее — «Пользователь»).</p>
<p> 1. Общие положения</p>
<p>1.1. Настоящее Соглашение является официальным предложением (публичной офертой) Правообладателей заключить договор на изложенных ниже условиях в соответствии со ст. 437 Гражданского кодекса Российской Федерации.</p>
<p>1.2. **Сервис «MixChat» (далее — Сервис) представляет собой совокупность программных решений, включая:</p>
<p>   - мобильное приложение для операционной системы Android;</p>
<p>   - веб-сайт, доступный по адресу `https://chat.mixrech.com`.</p>
<p>1.3. Использование Сервиса регулируется настоящим Соглашением, а также Политикой конфиденциальности, размещенной по адресу: [URL политики конфиденциальности].</p>
<p>1.4. Акцепт Соглашения: Начиная использовать Сервис (устанавливая приложение, регистрируясь, авторизуясь или просто просматривая страницы сайта), Пользователь подтверждает, что ознакомился с условиями Соглашения, полностью и безоговорочно принимает их и обязуется соблюдать. Если Пользователь не согласен с каким-либо пунктом Соглашения, он обязан немедленно прекратить использование Сервиса.</p>
<p>1.5. Правообладатели вправе в любое время изменять условия Соглашения в одностороннем порядке. Новая редакция Соглашения вступает в силу с момента ее опубликования в Сервисе. Продолжение использования Сервиса после изменения условий означает согласие Пользователя с новой редакцией.</p>
<p>2. Термины и определения</p>
<p>2.1. Сервис — совокупность функциональных возможностей мобильного приложения и веб-сайта, предназначенных для обмена сообщениями, создания чатов, обмена мультимедийными файлами и иного взаимодействия между Пользователями.</p>
<p>2.2. Правообладатели — физические лица, совместно создавшие Сервис, обладающие исключительными правами на его компоненты и обеспечивающие его функционирование.</p>
<p>2.3. Пользователь — дееспособное физическое лицо, достигшее возраста 16 лет (или иного возраста, допустимого для акцепта настоящего Соглашения в соответствии с законодательством РФ), использующее Сервис.</p>
<p>2.4. Учетная запись (Аккаунт) — совокупность данных, вводимых Пользователем при регистрации (номер телефона, адрес электронной почты, имя пользователя), позволяющая идентифицировать Пользователя в Сервисе.</p>
<p>2.5. Контент — любые информационные материалы, включая текстовые сообщения, графические изображения, фотографии, видео- и аудиофайлы, ссылки и иные данные, размещаемые Пользователями в Сервисе.</p>
<p>3. Предмет Соглашения</p>
<p>3.1. Правообладатели предоставляют Пользователю простую (неисключительную) лицензию на использование Сервиса в соответствии с его функциональным назначением на условиях «как есть» (as is).</p>
<p>3.2. Использование Сервиса разрешается на территории всех стран мира без взимания платы, если иное не будет установлено дополнительными соглашениями.</p>
<p>4. Регистрация и Учетная запись</p>
<p>4.1. Для доступа к полному функционалу Сервиса Пользователь обязан пройти регистрацию, указав достоверные и актуальные данные.</p>
<p>4.2. Пользователь самостоятельно несет ответственность за сохранность конфиденциальности своих регистрационных данных (логина, пароля).</p>
<p>4.3. Все действия, совершенные с использованием Учетной записи Пользователя, считаются совершенными самим Пользователем, за исключением случаев доказанного взлома.</p>
<p>5. Права и обязанности Пользователя</p>
<p>5.1. Пользователь обязуется:</p>
<p>   5.1.1. Использовать Сервис только в законных целях, не нарушая прав и законных интересов третьих лиц.</p>
<p>   5.1.2. Не размещать Контент, который:</p>
<p>      - содержит нецензурную лексику, оскорбления, угрозы, призывы к насилию;</p>
<p>      - пропагандирует наркотические средства, экстремизм, терроризм;</p>
<p>      - содержит порнографические материалы;</p>
<p>      - нарушает авторские и смежные права третьих лиц;</p>
<p>      - содержит вредоносные программы или ссылки на них.</p>
<p>   5.1.3. Не использовать Сервис для спама, массовых рассылок, фишинга, сбора персональных данных третьих лиц.</p>
<p>   5.1.4. Не пытаться получить несанкционированный доступ к Учетным записям других Пользователей.</p>
<p>   5.1.5. Не использовать автоматические скрипты (боты) для взаимодействия с Сервисом.</p>
<p>5.2. Пользователь несет единоличную ответственность за любой размещенный им Контент, включая его законность, достоверность и соответствие требованиям законодательства.</p>
<p>6. Права и обязанности Правообладателей</p>
<p></p>
<p>6.1. Правообладатели обязуются:</p>
<p>   6.1.1. Обеспечивать функционирование Сервиса в соответствии с его назначением, прилагая разумные усилия для поддержания работоспособности.</p>
<p>   6.1.2. Принимать меры для защиты персональных данных Пользователей в соответствии с Политикой конфиденциальности.</p>
<p>6.2. Правообладатели имеют право:</p>
<p>  6.2.1. В любое время изменять дизайн, интерфейс, функционал и содержание Сервиса с уведомлением Пользователя или без такового.</p>
<p>  6.2.2. Приостановить, ограничить или прекратить доступ Пользователя к Сервису в случае нарушения им условий настоящего Соглашения.</p>
<p>  6.2.3. Удалять любой Контент, размещенный Пользователем, если он нарушает условия Соглашения или законодательство РФ.</p>
<p>  6.2.4. Направлять Пользователю информационные сообщения, связанные с функционированием Сервиса (например, об изменениях в Соглашении).</p>
<p>7. Интеллектуальная собственность</p>
<p>7.1. Исключительные права на Сервис в целом, включая его программный код (как мобильной, так и веб-версии), дизайн, базы данных, товарный знак (логотип) и иные элементы, принадлежат Правообладателям совместно.</p>
<p>7.2. Пользователю запрещается:</p>
<p>   7.2.1. Воспроизводить, копировать, модифицировать, декомпилировать, распространять Сервис или его компоненты без письменного разрешения Правообладателей.</p>
<p>   7.2.2. Удалять знаки охраны авторского права и средства индивидуализации.</p>
<p>7.3. Размещая Контент в Сервисе, Пользователь предоставляет Правообладателям неисключительное право на его использование (воспроизведение, публичный показ, доведение до всеобщего сведения) исключительно в целях функционирования Сервиса.</p>
<p>8. Ответственность и гарантии</p>
<p>8.1. Сервис предоставляется на условиях «как есть». Правообладатели не гарантируют его бесперебойную и безошибочную работу, а также сохранность данных в случае сбоев.</p>
<p>8.2. Правообладатели не несут ответственности за:</p>
<p>  8.2.1. Любые убытки, упущенную выгоду, моральный вред, понесенные Пользователем в связи с использованием или невозможностью использования Сервиса.</p>
<p>  8.2.2. Содержание и достоверность Контента, размещенного Пользователями, а также за действия Пользователей по отношению друг к другу (включая, но не ограничиваясь, оскорбления, мошенничество, распространение недостоверной информации).</p>
<p>  8.2.3. Любые сбои в работе оборудования, линий связи, провайдеров, а также действия третьих лиц.</p>
<p>  8.2.4. Временную недоступность Сервиса, вызванную проведением технических работ или обновлений.</p>
<p>8.3. Пользователь самостоятельно несет ответственность за свои действия в Сервисе и за соблюдение применимого законодательства.</p>
<p>9. Порядок взаимодействия Правообладателей с Пользователями</p>
<p>9.1. Все вопросы, связанные с функционированием мобильного приложения, Пользователь может направлять по электронной почте: **[email для связи по мобильному приложению]**.</p>
<p>9.2. Все вопросы, связанные с функционированием веб-сайта, Пользователь может направлять по электронной почте: rozhkovmika@gmail.com</p>
<p>9.3. По общим вопросам, а также для направления юридически значимых сообщений, используется единый адрес электронной почты: **[общий email]**.</p>
<p>9.4. Ответ на обращение направляется в разумный срок, но не позднее 30 (тридцати) календарных дней с момента получения.</p>
<p>10. Прочие условия</p>
<p>10.1. Настоящее Соглашение регулируется законодательством Российской Федерации.</p>
<p>10.2. Все споры решаются путем переговоров. При недостижении согласия спор передается в суд по месту жительства Правообладателей в порядке, установленном действующим законодательством РФ.</p>
<p>10.3. Если одно из положений Соглашения станет недействительным, это не отменяет действия остальных положений.</p>
<p>10.4. Настоящее Соглашение составлено в электронном виде и действует бессрочно.</p>
<p>11. Реквизиты Правообладателей</p>
<p>**Правообладатель 1 (разработка веб-версии):</p>
<p>- ФИО: Рожков Михаил Андреевич</p>
<p>rozhkovmika@gmail.com</p>
<p>ИНН: 773323229478</p>
<p>**Правообладатель 2 (разработка мобильного приложения):</p>
<p>- ФИО: Мохов Владимир Фёдорович</p>
<p>mokhov.vladimir.f@gmail.com</p>
<p>ИНН: 773323458950</p>

</body>
</html>