<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixchat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/static.css' %}">
</head>
<body>

    <h1>Mixchat</h1>
    <!-- Поле для поиска пользователей -->
    <div class="form-group">
        <input type="text" id="userSearch" placeholder="Поиск пользователя..." oninput="searchUsers()">
        <button id="openChatButton" style="display: none;">Открыть чат</button>
    </div>

    <!-- Список пользователей -->
    <div id="userList" class="user-list">
        <ul id="users" style="display: none;"></ul> <!-- Здесь будут отображаться пользователи -->
    </div>

    <div id="chatList" class="chat-list">
        <h2 class="chat-align">Чаты</h2>
        <ul id="chats"></ul> <!-- Здесь будут отображаться чаты -->
    </div>

    <div class="vertical-line"></div>

    <!-- Список сообщений -->
    <div id="message" class="message-list active">
        <h2 class="message-align">Сообщения</h2>
        <ul class="message-message-list"></ul> <!-- Здесь будут отображаться сообщения -->
    </div>

    <!-- Поле для ввода сообщения -->
    <div id="chatWindow" style="display: none;">
        <ul class="message-message-list"></ul>
        <div class="media-container">
            <input type="text" id="messageContent" placeholder="Введите сообщение...">
            <label for="imageInput" class="file-label">
                <img src="{% static 'main/png/image.png' %}">
            </label>
            <input type="file" id="imageInput" accept="image/*" multiple style="display: none;"/>
            <label for="videoInput" class="file-label">
                <img src="{% static 'main/png/video.png' %}">
            </label>
            <input type="file" id="videoInput" accept="video/*" multiple style="display: none;"/>
            <label for="audioInput" class="file-label">
                <img src="{% static 'main/png/audio.png' %}">
            </label>
            <input type="file" id="audioInput" accept="audio/*" multiple style="display: none;"/>
        </div>
        <button id="sendMessageButton">Отправить</button>
    </div>

    <form id="logout-form" style="position: fixed; top: 10px; right: 10px;">
      <button type="submit">Выйти</button>
    </form>

<script src="{% static 'main/js/logout_redirect.js' %}"></script>

<script>
document.getElementById('logout-form').addEventListener('submit', (event) => {
    event.preventDefault();
    logoutUser(); // Вызов функции входа
});
</script>

<script src="{% static 'main/js/chat.js' %}"></script>

</body>
</html>
