<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="vnjAp1AKyXtiq31oJzrNQ05cxWc7mYnkm1GgrygVYIg" />
    <meta name="yandex-verification" content="8b55df76bf69b889" />
    <title>Mixchat - Новый удобный мессенджер для общения с друзьями и коллегами</title>
    <meta name=”description” content="MixChat - это современный мессенджер, обеспечивающий быстрый и безопасный обмен сообщениями с друзьями и коллегами." />
    <meta name=”keywords” content="мессенджер, messenger, общение, communication" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/static.css' %}">
    <link rel="icon" href="{% static 'main/png/favicon.ico' %}">
    <style>
        .option-button:hover {
            color: #02D6ED;
            background: #08003B
         }

        .exit-menu:hover {
            color: #02D6ED;
            background: #08003B
         }

        .out-chat:hover {
            color: #02D6ED;
            background: #08003B
         }
    </style>
</head>
<body>
<div class="messenger">
    <div class="sidebar">
        <div class="sidebar-header">
            <h1>Mixchat</h1>
            <a href="{% url 'profile_current_user' %}">
                <button id="profile" class="btn" type="submit" style="border-radius: 40px">
                    <img src="" id="avatar" style="border-radius: 30px">
                </button>
            </a>
            <button class="option-button" id="Option" style="border-radius: 40px" >
                <img src="{% static 'main/png/option.png' %}" style="height: 30px">
            </button>
            <div class="option-form" style="display: none">
                <h3>
                    <img src="" id="menu-photo">
                    Меню
                </h3>
                <button class="exit-menu" style="width: 40px; height: 40px">
                    <svg width="20" height="20" viewBox="0 0 20 20" stroke="currentColor";>
                        <path d="M19 12H5M12 19l-7-7 7-7"/>
                    </svg>
                </button>
                <p></p>
                <script>
                    document.querySelector('.exit-menu').addEventListener('click', () => {
                        document.querySelector('.option-form').style.display = 'none';
                    });
                </script>
                <a href="{% url 'create_group' %}">
                    <button class="create-group-btn" id="group-create">
                        <svg width="20" height="20" viewBox="0 0 20 20" stroke="currentColor"; fill="white">
                            <path d="M20 18L17 18M17 18L14 18M17 18V15M17 18V21M11 21H4C4 17.134 7.13401 14 11 14C11.695 14 12.3663 14.1013 13 14.2899M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7Z"/>
                        </svg>
                        Создать группу
                    </button>
                </a>
                <button id="logout" class="logout-btn" type="submit">
                    <svg width="20" height="20" viewBox="0 0 550 550" stroke="currentColor"; fill="white">
                        <path d="M480,0H32C14.328,0,0,14.328,0,32v64c0,17.672,14.328,32,32,32s32-14.328,32-32V64h384v384H64v-32 c0-17.672-14.328-32-32-32S0,398.328,0,416v64c0,17.672,14.328,32,32,32h448c17.672,0,32-14.328,32-32V32 C512,14.328,497.672,0,480,0z"/>
                        <path d="M143.094,163.789c-10.391-5.57-23.031-4.969-32.844,1.586l-96,64C5.344,235.313,0,245.297,0,256s5.344,20.688,14.25,26.625 l96,64c5.359,3.57,11.547,5.375,17.75,5.375c5.172,0,10.375-1.258,15.094-3.789C153.5,342.648,160,331.805,160,320v-32h192 c17.672,0,32-14.328,32-32s-14.328-32-32-32H160v-32C160,180.195,153.5,169.352,143.094,163.789z"></path>
                    </svg>
                    Выйти
                </button>
                <p>Информация</p>
                <button class="privacy_policy">
                    <img src="{% static 'main/png/privacy_policy_icon.png' %}" style="height: 25px; color: white">
                    <a href="{% url 'privacy_policy' %}" style="color: white">
                        Политика конфиденциальности
                    </a></button>
                <button class="agreement">
                    <img src="{% static 'main/png/agreement_icon.png' %}" style="height: 25px; color: white">
                    <a href="{% url 'agreement' %}" style="color: white">Пользовательское соглашение</a>
                </button>
                <button class="project_support">
                    <img src="{% static 'main/png/project_support_icon.png' %}" style="height: 25px; color: white">
                    <a href="https://www.donationalerts.com/r/mixrech" style="color: white">Поддержка проекта</a>
                </button>
            </div>
            <script>
                document.getElementById('Option').addEventListener('click', () => {
                    console.log(document.querySelector('.option-form'))
                    document.querySelector('.option-form').style.display = 'block';
                });
            </script>
        </div>
        <div class="form-group">
            <input type="text" id="userSearch" placeholder="Поиск пользователя..." oninput="searchUsers()">
        </div>

        <div id="userList" class="user-list">
            <ul id="users" style="display: none;"></ul> <!-- Здесь будут отображаться пользователи -->
        </div>

        <div class="chats-header">
            <h2>Чаты</h2>
        </div>

        <div id="chatList" class="chat-list">
            <ul id="chats"></ul> <!-- Здесь будут отображаться чаты -->
        </div>
        <div class="vertical-line"></div>
        <h2 class="message-align" style="display: none;">Сообщения</h2>
    </div>

    <!-- Поле для ввода сообщения -->
    <div class="main-chat" id="chatWindow" style="display: none; background: #0E1621;">

        <div class="begin" style="display: flex">
            <div class="user-name"><img src=""><p></p></div>
            <button class="open-mqtt" id="openMqtt" style="display: none">Задать параметры MQTT</button>
        </div>
        <button class="out-chat" id="outChat">
            <svg viewBox="0 0 24 24" stroke="currentColor";>
                <path d="M19 12H5M12 19l-7-7 7-7"/>
            </svg>
            <script>
                document.getElementById('outChat').addEventListener('click', () => {
                const chatWindow = document.getElementById('chatWindow');
                chatWindow.style.display = 'none';
            });
            </script>
        </button>

        <form class="mqtt-form" id="mqttForm" style="display: none">
            <h3>Введите параметры сервера</h3>
            <div class="mqtt-form-form">
                <label for="server_input">Сервер</label>
                <input type="text" id="server_input" name="server">
            </div>
            <div class="mqtt-form-form">
                <label for="port_input">Порт</label>
                <input type="text" id="port_input" name="port">
            </div>
            <div class="mqtt-form-form">
                <label for="client_id_input">ID клиента</label>
                <input type="text" id="client_id_input" name="client_id">
            </div>
            <div class="mqtt-form-form">
                <label for="mqtt_username_input">Имя пользователя</label>
                <input type="text" id="mqtt_username_input" name="mqtt_username">
            </div>
            <div class="mqtt-form-form">
                <label for="mqtt_password_input">Пароль</label>
                <input type="password" id="mqtt_password_input" name="mqtt_password">
            </div>
            <div class="mqtt-form-form">
                <label for="topic_sent_input">Топик для отправки</label>
                <input type="text" id="topic_sent_input" name="topic_sent">
            </div>
            <div class="mqtt-form-form">
                <label for="topic_subscribe_input">Топик для получения</label>
                <input type="text" id="topic_subscribe_input" name="topic_subscribe">
            </div>
            <div class="mqtt-buttons">
                <button type="button" class="save-mqtt">Сохранить</button>
                <button type="button" class="cancel-mqtt" id="cancelMqtt">Закрыть</button>
            </div>
        </form>
        <script>
            document.getElementById('openMqtt').addEventListener('click', () => {
               document.getElementById('mqttForm').style.display = 'block';
            });

            document.querySelector('.save-mqtt').addEventListener('click', () => {
                const server = document.getElementById('server_input').value;
                const port = document.getElementById('port_input').value;
                const client_id = document.getElementById('client_id_input').value;
                const mqtt_username = document.getElementById('mqtt_username_input').value;
                const mqtt_password = document.getElementById('mqtt_password_input').value;
                const topic_sent = document.getElementById('topic_sent_input').value;
                const topic_subscribe = document.getElementById('topic_subscribe_input').value;
                fetch('/api/save_mqtt/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                    },
                    body: JSON.stringify({ server, port, client_id,
                                        mqtt_username, mqtt_password,
                                        topic_sent, topic_subscribe}),
                })
                .then(response => response.json())
                document.querySelector('.mqtt-text-panel').style.display = 'none'
                document.querySelector('.input-panel').style.display = 'flex'
            });
            document.querySelector('.save-mqtt').addEventListener('click', () => {
                document.getElementById('mqttForm').style.display = 'none';
            });
            document.querySelector('.cancel-mqtt').addEventListener('click', () => {
                document.getElementById('mqttForm').style.display = 'none';
            });
        </script>
        <div id="message" class="message-list active">
            <ul class="message-message-list" style="list-style: none; display: flex; flex-direction: column; gap: 20px;"></ul> <!-- Здесь будут отображаться сообщения -->
        </div>
        <div class="message-dropdown" style="display: none">
            <button class="edit-item">Редактировать</button>
            <button class="delete-item">Удалить</button>
            <button class="answer-item">Ответить</button>
            <button class="transmission-item">Переслать</button>
        </div>
        <div class="delete-form" style="display: none">
            <button class="delete_at_home">Удалить только у себя</button>
            <button class="delete_at_all">Удалить у всех</button>
            <button class="close">Закрыть</button>
        </div>
        <div class="transmission-form" style="display: none">
            <div class="transmission-header">
                <h3>Переслать сообщение</h3>
                <button class="close-transmission" id="closeTransmissionBtn">×</button>
            </div>
            <ul id="chats_for_transmission"></ul>
        </div>
        <script>
            document.getElementById('closeTransmissionBtn').addEventListener('click', () => {
                document.querySelector('.transmission-form').style.display = 'none'
            })
        </script>
        <div class="mqtt-text-panel" style="display: none">
            Вы не подключены к MQTT. Введите данные.
        </div>
        <div class="input-panel">
            <div class="input-wrapper">
                <input type="text" id="messageContent" placeholder="Введите сообщение...">
            </div>
            <div class="files-container" id="media" style="display: none; width: 100px; background: #172436;">
                <label for="imageInput" class="file-label">
                    <img id="image" src="{% static 'main/png/image.png' %}">
                    <p>Фото</p>
                </label>
                <input type="file" id="imageInput" accept="image/*" multiple style="display: none;"/>
                <label for="videoInput" class="file-label">
                    <img id="video" src="{% static 'main/png/video.png' %}">
                    <p>Видео</p>
                </label>
                <input type="file" id="videoInput" accept="video/*" multiple style="display: none;"/>
                <label for="audioInput" class="file-label">
                    <img id="audio" src="{% static 'main/png/audio.png' %}">
                    <p>Аудио</p>
                </label>
                <input type="file" id="audioInput" accept="audio/*" multiple style="display: none;"/>
            </div>
            <label for="writeVoice" class="action-button">
                <img src="{% static 'main/png/microphone.png' %}" style="width: 40%; height: 50%;">
            </label>
            <input type="button" id="writeVoice" style=" display: none; width: 40%; height: 100%;"/>
            <button class="mediaIcons" id="mediaButton">
                <svg viewBox="0 0 24 24">
                    <path d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48"/>
                </svg>
            </button>
            <button class="sent" id="sendMessageButton">
                <svg viewBox="0 0 24 24">
                    <path d="M22 2L11 13M22 2l-7 20-4-9-9-4 20-7z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<script src="{% static 'main/js/logout_redirect.js' %}"></script>
<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/12.10.0/firebase-app.js";
  import { getMessaging } from "https://www.gstatic.com/firebasejs/12.10.0/firebase-messaging.js";

  const firebaseConfig = {
    appName: "Mixchat",
    apiKey: "AIzaSyD08JKJDTwhqjrgb42-KroubdoNk8iXoI4",
    authDomain: "mixchat-89071.firebaseapp.com",
    projectId: "mixchat-89071",
    storageBucket: "mixchat-89071.firebasestorage.app",
    messagingSenderId: "681799476649",
    appId: "1:681799476649:web:f393a22b5cc606aae950b8",
    measurementId: "G-8Q0P5KVF3Q"
  };

  const app = initializeApp(firebaseConfig);
  const messaging = getMessaging (app);
  console.log(messaging)

</script>
<script type="module" src="{% static 'main/js/fcm-sw.js' %}"> </script>
<script>
document.getElementById('logout').addEventListener('click', (event) => {
    event.preventDefault();
    logoutUser(); // Вызов функции выхода
});
</script>

<script src="{% static 'main/js/chat.js' %}"></script>
<script src="{% static 'main/js/voice_messages.js' %}"></script>


</body>
</html>
