body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #2c2c2c;
        }

        h1 {
            color: #FFFFE0;
        }

        h2 {
            text-align: center;
            color: #FFFAFA;
        }

        .messages {
            max-height: 400px;
            overflow: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 15px;
        }
        .message {
            margin-bottom: 10px;
        }
        .message .sender {
            font-weight: bold;
        }
        .form-group {
            max-width: 500px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            top: -50px;
            display: flex;
            justify-content: space-between;
        }

        .chat-align {
            text-align: left; /* Выравнивание текста влево */
        }

        .message-align {
            margin-top: -100px; /* Выравнивание текста влево */
        }
        .user-list li {
           list-style-type: none;
           text-align: center;
           color: white
        }

        .media-container img {
            width: 42px; /* Установите желаемую ширину */
            height: 42px; /* Установите желаемую высоту */
        }

        .message-message-list li {
            list-style-type: none;
            text-align: left; /* Выравнивание текста вправо */
            margin: 15px auto; /* Отступы между сообщениями */
            font-size: 20px;
            color: #E0FFFF;
            border: none; /* Граница вокруг сообщения */
            border-radius: 5px; /* Закругление углов */
            padding: 10px;
            background-color: #3a3a3a;
            max-width: 600px; /* Максимальная ширина сообщения */
            width: 100%;
            margin-left: auto; /* Центрируем по горизонтали */
            margin-right: auto;
        }



        #messageContent {
            width: 200px; /* Установите желаемую ширину */
            margin-left: 600px;
        }


        .chat-list li {
            font-size: 20px;
            list-style-type: none;
            color: #E0FFFF;
            margin: 15px 0;
        }

        .logout-container button{
            margin-right: 600px;
            }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: calc(100% - 80px);
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        button {
            width: 70px; /* Уменьшено для кнопки отправки */
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }