body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #2c2c2c;
        }

        h1 {
            color: #D9FFFD;
        }

        h2 {
            text-align: center;
            color: #FFFAFA;
            position: fixed;
            top: 1px;
            left: 750px;
        }

        .sent {
            position: fixed;
            bottom: 80px;
            right: 550px;
            max-width: 30px; /* чтобы не превращался в огромный */
            box-sizing: border-box; /* чтобы padding не влияли на ширину */
            z-index: 9999; /* чтобы не перекрывалось чем-то */
            width: calc(100% - 40px);
            font-size: 14px;
        }

        .mediaIcons {
            position:fixed;
            bottom: 80px;
            right: 470px;
            max-width: 30px; /* чтобы не превращался в огромный */
            box-sizing: border-box; /* чтобы padding не влияли на ширину */
            z-index: 9999; /* чтобы не перекрывалось чем-то */
            width: calc(100% - 40px);
            font-size: 14px;
        }

        .messages {
            max-height: 400px;
            overflow: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 15px;
        }
        .message {
            margin-bottom: 10px;
        }
        .message .sender {
            font-weight: bold;
        }
        .form-group{
            width: 500px;
            position: relative;

            margin-right: auto;
            top: 0px;

            justify-content: space-between;
        }

        .chat-align {
            text-align: left; /* Выравнивание текста влево */
        }

        .message-align {
            margin-top: -100px; /* Выравнивание текста влево */

        }

        .user-list {
            background-color: #3a3a3a;
            max-width: 170px
        }

        .user-list li {
           list-style-type: none;
           margin-left: auto;
           color: white;
           line-height: 1.7
        }

        .media-container img{
            width: 42px; /* Установите желаемую ширину */
            height: 42px; /* Установите желаемую высоту */
            position: fixed;
            top: 42.5vh;
            left: 115vh;
        }


        .message-message-list li {
            list-style-type: none;
            text-align: left; /* Выравнивание текста вправо */
            margin: 15px auto; /* Отступы между сообщениями */
            font-size: 20px;
            overflow-y: auto;
            color: #E0FFFF;
            border: none; /* Граница вокруг сообщения */
            border-radius: 5px; /* Закругление углов */
            padding: 10px;
            background-color: #3a3a3a;
            max-width: 600px; /* Максимальная ширина сообщения */
            width: 100%;
            margin-left: auto; /* Центрируем по горизонтали */
            margin-right: auto;
        }

        .message-message-list p {
            font-size: 10px;
            margin-left: 270px;

        }


        #messageContent {
            position: fixed;
            bottom: 60px;
            right: 600px; /* уменьшите отступ, чтобы не уходил за границы */
            width: calc(100% - 40px);
            font-size: 14px;
            max-width: 400px; /* чтобы не превращался в огромный */
            box-sizing: border-box; /* чтобы padding не влияли на ширину */
            z-index: 9999; /* чтобы не перекрывалось чем-то */

        }

        .chat-list ul{
            max-width: 100px;
            width: 100%;
            position: fixed

        }

        .chat-list li {
            background-color: #3a3a3a;
            font-size: 22px;
            list-style-type: none;
            color: #fff;
            margin: 25px 0;
            position: fixed;
            display: block;
        }


        .chat-list p {
            font-size: 19px;
            list-style-type: none;
            color: #C0C0C0;
            margin: 1px 0;
        }

        .logout-container button{
            margin-right: 600px;
        }



        .files-container p {
            font-size: 17px;
            color: #D9FFFD;
            margin: 20px 35px;

        }

        .files-container p:hover {
            color: #02D6ED;
        }


        button {
            width: 70px; /* Уменьшено для кнопки отправки */
            padding: 10px;
            background-color: #2c2c2c;
            color: #D9FFFD;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: fixed;
        }

        .btn:hover {
            color: #02D6ED;
        }

        @media(max-width: 600px) {
            #messageContent {
                position: fixed;
                bottom: 60px;
                right: 20px; /* стартовая позиция для мобильных, например, 20px */
                width: 70%; /* ширина в процентах */
                max-width: 300px; /* максимум ширины */
            }

            #media {
                width: 80%; /* ширина занимает 80% экрана */
                height: auto; /* или задать конкретное значение по необходимости */
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

            #sendMessageButton {
                bottom: 80px; /* чуть выше, чтобы было удобно нажимать */
                right: 10px; /* оставьте небольшой отступ от края */
                width: 60px; /* увеличенные кнопки, чтобы было удобно щипками */
                height: 60px;
            }

            #mediaButton {
                bottom: 80px; /* так же, чуть выше */
                right: 80px;
                width: 60px;
                height: 60px;
            }
        }

