<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="vnjAp1AKyXtiq31oJzrNQ05cxWc7mYnkm1GgrygVYIg" />
    <meta name="yandex-verification" content="8b55df76bf69b889" />
    <title>MixRech - Браузер нового поколения</title>
    <meta name="description" content="Откройте для себя MixRech - инновационный браузер, который обеспечивает быструю и безопасную работу в интернете. Присоединяйтесь к кампании MixRech и испытайте новые возможности веб-серфинга!">
    <meta name="keywords" content="браузер, открытый браузер,поисковик, browser, open browser,search engine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="rating" content="RTA-5042-1996-1400-1577-RTA">
    <meta name="rating" content="adult">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/font-flaticon@1.0.0/css/font-flaticon.css">
    <link rel="stylesheet" href="{% static 'main/css/static.css' %}">

    <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(100829549, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/100829549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>
<body>
    <h1>MixRech</h1>
    <div class="link-container">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScfTNGoOzN6h0SNWz2TyaUW2sB0KP-06tvCqGhGj74kxbzuOg/viewform?usp=dialog">
            <button type="submit" style="margin-right: 10px;">Ссылка для оценки α версии...</button>
        </a>
    </div>

    <div class="container">
        <div class="features text-center my-6">
            <form class="d-flex" method="get" action="/search">
                <input class="form-control me-2" type="search" name="query" placeholder="Введите поисковый запрос или URL" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>
        </div>
    </div>
</body>
</html>