body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #FFFFE0;
    padding: 20px;
    background-color: #2c2c2c;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #2c2c2c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2c2c2c;
}

.results-container {
    margin-top: 55px;
}

.results-container ul {
    list-style-type: none;
    padding: 0;
}

.results-container li {
    margin-bottom: 40px;
    color: #FFFAFA;
}

.results-container li a {
    text-decoration: none;
    color: #FFFAFA;
}

.results-container h3 {
    color: #6495ED;
}

.results-container h3 a {
    color: #6495ED;
}

.results-container a:hover {
    text-decoration: underline;
}
