body {
    background: #2c2c2c;
}

h1 {
    float: top;
    background: #2c2c2c;
    width: 20%;
    padding: 0.5%;
    height: 0vh;
    width: 210vh;
    color: #FFFFE0;
    text-align: center;
    margin-top: 190px;
    font-size: 50px;
}

h2 {
    float: right;
    width: 50vh;
    padding: 0px;
    margin-top: -180px;
}

ul {
    list-style: none;
    padding: 0;
    }

ul li{
    color: #2c2c2c;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    transition: transform .6s ease
}

ul li:hover a:hover{
    color: #eb5959;
    transform: scale(1.05)
}

.features {
    float: top;
    color: #fff;
    margin-top: 105px;
    text-align: center;
    weight: 75%;
}
